* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: auto;
  overflow: scroll;
}

/* HEADERS */
.home-page-header {
  align-items: center;
  border-bottom: .1rem solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.5rem;
}

.sub-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

/* TITLE & USER'S NAME */
.title-and-greeting-wrapper {
  min-width: 15rem;
}

h1 {
  font-size: 3rem;
}

h2,
.recipe-name {
  font-size: 1.3rem;
  font-weight: normal;
}

/* SEARCH INPUT & ICON IMAGE */
.recipe-search-input-wrapper {
  align-items: center;
  border: .09rem solid black;
  border-radius: 50px;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  min-width: 20rem;
}

.search-icon-home,
.search-icon-favorites,
.search-icon-this-week {
  background: url(../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  height: 2rem;
  margin-left: 1rem;
  width: 1.5rem;
}

.search-icon-home:hover,
.search-icon-favorites:hover,
.search-icon-this-week:hover,
.add-recipe-icon,
.favorite-recipe-icon-inactive,
.favorite-recipe-icon-active,
.remove-recipe-icon,
.remove-recipe-icon:hover,
.filter-recipe-by-type-button:hover {
  cursor: pointer;
}

.recipe-search-input {
  border: none;
  border-radius: 50px;
  font-size: 1.4rem;
  padding-left: .5rem;
  width: 25rem;
}

.recipe-search-input:focus {
  outline: none;
}

.recipe-search-input:hover {
  color: dimgrey;
  transition:all .5s ease;
}

/* NAV BUTTONS */
.nav-buttons-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.view-favorites-button,
.home-button,
.all-recipes-button,
.pantry-button,
.this-week-button {
  border: none;
  font-size: 1.4rem;
}

.all-recipes-button {
  margin: 0;
}

.view-favorites-button:hover,
.home-button:hover,
.all-recipes-button:hover,
.pantry-button:hover,
.this-week-button:hover {
  color: #6AA1F9;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
}

/* RECIPE CARDS */
.recipe-card {
  border: .1rem solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 20rem;
}

.recipe-card-header {
  background: lightgrey;
  border-bottom: .1rem solid black;
  display: flex;
  justify-content: space-between;
  padding: .3rem;
}

.add-recipe-icon,
.favorite-recipe-icon-inactive,
.favorite-recipe-icon-active,
.remove-recipe-icon {
  border: none;
  height: 2rem;
  min-width: 2rem;
}

.remove-recipe-icon {
  background: url(../images/remove.svg);
  background-size: cover;
}

.remove-recipe-icon:hover {
  background: url(../images/removeHover.svg);
  background-size: cover;
}

.add-recipe-icon {
  background: url(../images/plus.svg);
  background-size: cover;
}

.add-recipe-icon:hover {
  background: url(../images/plusHover.svg);
  transition:all .5s ease;
}

.favorite-recipe-icon-active {
  background: url(../images/activeFavorite.svg);
}

.favorite-recipe-icon-active:hover {
  opacity: 0.7;
}

.favorite-recipe-icon-inactive {
  background: url(../images/inactiveFavorite.svg);
}

.favorite-recipe-icon-inactive:hover {
  background: url(../images/favoriteHover.svg);
  transition:all .5s ease;
}

.recipe-card-main {
  padding: 0 .5rem;
}

.recipe-card-main:hover {
  cursor: context-menu;
  opacity: 0.8;
}

.recipe-name {
  padding: .3rem;
  height: 4rem;
  text-align: center;
}

.recipe-image {
  max-width: 100%;
}

/* FILTER RECIPE BY TAG SECTION */

.filter-by-type-wrapper {
  color: black;
  height: 100%;
  text-align: center;
}

.type-checklist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.search-by-type-click:hover {
  cursor: pointer;
}

.type-checklist li {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin: .5rem;
}

.type-checklist input {
  cursor: pointer;
}

/* RECIPE CARD INFO */
.card-info-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -3.5rem;
  margin-bottom: 3.5rem;
}

.card-info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 35rem;
  width: 60rem;
}

.card-info-header {
  padding: 1rem;
  text-align: center;
}

.card-info-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "top top"
  "left right"
  "bottom bottom";
  grid-gap: 1rem;
  height: 30rem;
  margin: .5rem;
}

.recipe-cost {
  border: .5px solid grey;
  grid-area: top;
  overflow: scroll;
  padding: 1.5rem;
}

.instructions {
  border: .5px solid grey;
  grid-area: left;
  overflow: scroll;
  padding: 1rem;
}

.ingredients {
  border: .5px solid grey;
  grid-area: right;
  overflow: scroll;
  padding: 1rem;
}

.ingredients-needed-to-cook {
  border: .5px solid grey;
  grid-area: bottom;
  overflow: scroll;
  padding: 1.5rem;
}

.info-titles {
  padding-left: .5rem;
}

.instructions-list-items,
.ingredients-list-items,
.items-needed-li {
  padding: .3rem;
}

.hidden {
  display: none;
}

//
